@import "./resetCss.scss";
@import "./tables.scss";
@import "./form-modal.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.container {
  margin: 50px auto;
  width: 1200px;

  .buttons-container {
    margin-bottom: 10px;
  }

  .hide {
    display: none;
  }

  .btn {
    cursor: pointer;

    &:hover {
      filter: invert(0.3);
    }

    &:active {
      transform: translateY(1px);
    }
  }
}

.rotated {
  transform: rotateZ(180deg);
}

.error {
  color: red;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}
